.radio-button {
    display:block !important;
}

.radio-button > label {
    align-items: unset !important;
}

.margin-left-10 { margin-left: 10px; }
.margin-top-10 { margin-top: 10px; }

.button-container{
    padding: 20px;
    height: 35px;
    border: lightgrey;
    border-width: 0.5px;
    border-style: solid;
}